@using RepartidorOnline.UI.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutMain</title>
    @Styles.Render("~/Content/main/css")
    @Styles.Render("~/Content/bootstrap")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="grid-container-main">
        <header class="header-main">

            <div class="header-main-content">
                <div class="header-main-logo">
                    @*<img src="~/Content/img/logo-header.PNG" />*@
                    <h3 class="text-header-main-logo">ServEntrega</h3>
                </div>
                @*<div class="header-search-box">
                        <input class="header-input-search" type="text" placeholder="Busca Cualquier Producto" name="" value="" />
                        <button class="header-button-search base-button-main">
                            <i class="fas fa-search fa-lg"></i>
                        </button>
                    </div>*@
                <div class="input-group header-search-box">
                    <input class="header-input-search form-control" type="text" placeholder="Busca Cualquier Producto" name="" value="" />
                    <div class="input-group-append header-button-search base-button-main">
                        <button class="btn" type="button"><i class="fas fa-search fa-lg"></i></button>
                    </div>
                </div>


                <div class="header-shopping-cart">
                    <button class="base-button-main btn-hover">
                        <i class="fas fa-shopping-basket fa-lg"></i>
                    </button>
                </div>
                <div class="header-login-button">

                    @if (!SecurityHelpers.IsLogged())
                    {

                        using (Html.BeginForm("Login", "Seguridad", new { }, FormMethod.Get))
                        {
                            <button class="btn-hover base-button-main btn" id="btnLoginMain">
                                Iniciar Sesión <i class="fas fa-sign-in-alt"></i>
                            </button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Logout", "Seguridad", new { }, FormMethod.Post))
                        {
                        <button class="btn-hover base-button-main btn" id="btnLogoutMain">
                            Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
                        </button>
                        }
                    }
                </div>
            </div>
        </header>

        <div class="content-main">
            @RenderBody()
        </div>
        <footer class="footer-main">
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appscripts")
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(document).ready(app.pagina.Login.InitApp);

    </script>
</body>
</html>

